 body {
      background: #0a0a0f;
      color: #e2e2f0;
      font-family: sans-serif;
      
    }



    h2 { font-size: 2rem; margin-bottom: 1rem; }
    p  { color: #888; font-size: 1.1rem; }

    .hero{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;;
      align-items: flex-start;
      height: 100vh;
      margin: 0;
      text-align: left;
      gap: 5px;

    }
    
  .highlight_blue {
  color: #00f5c8;
  transition: all 0.3s ease;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.highlight_blue:hover {
  border-bottom: 1px solid #00f5c8;
}

/* Position the links at the bottom */
.fade-in-links {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 2rem;
  opacity: 0;
  animation: fadeIn 2s ease forwards 1s; /* Delays appearance until after scramble */
}